{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block extracss %}
    <link rel="stylesheet" href="{{ asset('bundles/kunstmaantaggroup/css/style.css') }}"/>
{% endblock %}

 {% block extrajavascript %}
     <script src="{{ asset('bundles/kunstmaantaggroup/js/scripts.js') }}"></script>
 {% endblock %}

{% block extra_actions_header %}
    <div class="col-sm-6 col-md-4">
        <div class="app__content__header__extra-actions">
            <div class="btn-group">
                <a class="btn btn-primary btn--raise-on-hover"
                   href="{{ path('kunstmaantaggroupbundle_admin_taggroup') }}">
                    All groups
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="text-center">Tags in group: {{ group.name }}</h3>
    </div>

    <div id="tagGroupManager"
         class="container"
         data-group-id="{{ group.id }}"
         data-url-remove="{{ path('kunstmaantaggroupbundle_admin_taggroup_tag_remove') }}"
         data-url-add="{{ path('kunstmaantaggroupbundle_admin_taggroup_tag_add') }}">

        <ol class="tags">

            {% for tag in tags.all %}
                <li data-id="{{ tag.id }}"
                    class="btn {% if tags.group.contains(tag) %}btn-primary{% else %} btn-default{% endif %}">
                    <span class="fa fa-tags text-muted"></span> {{ tag.name }}
                </li>
            {% endfor %}

        </ol>
    </div>

{% endblock %}
